@font-face {
  font-family: 'SF Display Medium';
  src: url('~assets/fonts/SFProDisplay-medium.woff') format('woff');
  src: url('~assets/fonts/SFProDisplay-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Display Semibold';
  src: url('~assets/fonts/SFProDisplay-Semibold.woff') format('woff');
  src: url('~assets/fonts/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Display Heavy';
  src: url('~assets/fonts/SFProDisplay-Heavy.woff') format('woff');
  src: url('~assets/fonts/SFProDisplay-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MBFOrigin';
  src: url('~assets/fonts/MBFOrigin.woff') format('woff');
  src: url('~assets/fonts/MBFOrigin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
